
.user-active-dropdown {
    transition: 200ms ease-out;
    transform: scale(0.95, 1);
    opacity: 1;
    z-index: 50;
}

.user-not-active-dropdown {
    transition: 75ms ease-in;
    transform: scale(1, 0.95);
    opacity: 0;
    z-index: -1;
}  

.notif-bullet {
    border-width: 1px; 
    font-size: 0.55rem; 
    line-height: 0.75rem
}

